.view-parent-div {
  padding-top: 8rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.view-parent-div .image-show-div {
  padding: 16px;
  width: 40vw;
  height:60vh;

}
.view-parent-div .image-show-div img {
  width: 100%;
  height: 100%;
}

.view-parent-div .right-section {
  padding: 16px;
  margin-top: 3em;
  width: 30vw;
}

.view-parent-div .right-section .product-details :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 20px;
}

.view-parent-div .right-section .product-details {
  box-shadow: 5px 5px 10px;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 2em;
  width: 100%;
}

.view-parent-div .right-section .contact-details {
  border: 1px solid black;
  box-shadow: -5px -5px 10px;
  padding: 15px;
  border-radius: 6px;
}

.view-parent-div .right-section .contact-details :first-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  padding: 0;
}
.product-details .place-date{
  display: flex;
  justify-content: space-between;
}
.date{
  text-align: right;
  margin-bottom: 0;
}